/* .l-header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.l-header ul li{
  display: flex;
  justify-content: center;
  margin-right: 30px;
  color: gray;
  text-decoration-line: none;

}

.header-list {
  display: flex;
  justify-content: center;
  color: gray;
  
}

li{
  display: flex;
  list-style-type: none;
  color: gray;
}

.logo img{
  margin-left: 20px;
} */

header{
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0px;
  height: 80px;

}

.logo{
  margin-left: 30px;
}

.nav-list{
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 30px;
  text-decoration: none;
}

.header-nav1link{
  text-decoration: none;
  color: gray;
  margin-right: 30px;

}

.header-pic{
  width: 35px;
  height: 35px;
  border: 1px solid gray ;
  border-radius: 50%;
  padding: 1px;
  
}

.header-pic-img {
  padding-left: 5px;
}

.top1{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-top: 100px;

}

.top1left{
  margin-top: 100px;
  background-color: gainsboro;
  position: absolute;
  top: 10px;
  right: 500px;


}

.top1right{
  display: flex;
  justify-content: flex-end;
}

.blue{
  color: blue;
}

.top1moji{
  font-size: 30px;
}

.pic1{
  width: 600px;
  margin-right: 0px;
  margin-left: auto;
  display: block;

  display: flex;
  justify-content: flex-end;

}

.title{
  margin-top: 200px;
  margin-bottom: 10px;
}

.title1{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.title2{
  display: flex;
  justify-content: center;
  color: blue;
}

.container{
  display: flex;
  justify-content: space-around;
}

.pic2{
  margin-top: 30px;
  width: 250px;
}

.content{
  margin-top: 20px;
  margin-bottom: 40px;
  width: 300px;
  height: 150px;
  font-size: small;

}

.line-section{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blue;
  opacity: 0.5;
  display: block;
  position: relative;
}

.line-top{
  display: flex;
justify-content: center;
align-items: center;
color: white;
position: absolute;
top: 250%;
left: 50%;
transform: translate(-25%, -50%);
}

.pic3{
  width: 30px;
}

.line-message{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pic4{
}

.m1{
display: flex;
justify-content: center;
}

.m2{
display: flex;
justify-content: center;
margin-top:-20px;

}

.m3{
display: flex;
justify-content: center;
margin-top: -20px;
}

.line-url{
  display: flex;
justify-content: center;
margin-top: 10px;
align-items: center;
color: black;
background-color: white;
position: absolute;
top: 8%;
left: 50%;
transform: translate(-50%, -50%);
}





.footer{
position: absolute;
width: 1440px;
height: 355px;
left: 0px;
top: 1875px;
}

.p-footer__copyright{
display: flex;
justify-content: center;
}