/* .l-header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.l-header ul li{
  display: flex;
  justify-content: center;
  margin-right: 30px;
  color: gray;
  text-decoration-line: none;

}

.header-list {
  display: flex;
  justify-content: center;
  color: gray;
  
}

li{
  display: flex;
  list-style-type: none;
  color: gray;
}

.logo img{
  margin-left: 20px;
} */

header{
  display: flex;
  align-items: center;
}

.na



.footer{
position: absolute;
width: 1440px;
height: 355px;
left: 0px;
top: 1875px;
}

.p-footer__copyright{
display: flex;
justify-content: center;
}