/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color:white;
    padding: 20px;
}

.header-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    text-decoration: none;
}

.header-logo{
    margin-left: 20px;
}

.rightheader-word{
    margin-right: 20px;
    text-decoration: none;
    color: gray;
}

.rightheader-icon{
margin-right: 20px;
margin-bottom: 5px;
}
.top-page-url{
color: gray;
text-decoration: none;
}

.quiz-page-url{
color: gray;
text-decoration: none;
}

body{
font-family: "Noto Sans JP", sans-serif;
}


/* hero */

.heropage{
margin-bottom: 50px;
}

/* .hero-pic{

} */

.hero{
position:absolute;
top: 190px;
left: 500px;

}

.hero1{
color: white;
font-size: 20px;
}

.hero2{
color: white;
font-size: 50px;

}

/* quiz */
.p-quiz-box{
max-width: 1032px;
width: 100%;
margin: 120px auto 0;
}

.q-container{
    padding: 24px;
}

.quizpage{
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
}

.questions{
/* display: flex; */
flex-direction: column;
justify-content: center;
}

.q-number{
background-color: #0071bc;
border-radius: 5px;
font-size: 30px;
color: white;
padding: 10px;
/* margin: 10px; */
width: 40px;
}
.q-passage{
font-size: 36px;
font-weight: bold;
display: block;
margin-top: 24px;
line-height: 1.5;
}

.answer{
display: inline-block;
padding: 8px 16px;
background: #e34e70;
border-radius: 8px;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 150%;
color: #ffffff;
}

.q-pic{
max-width:718px;
width: 100%;
height: 357px;
display: block;
margin:64px auto 0 ;
}

.p-quiz-box-answer{
text-align: left;
padding: 24px;
}

.buttons{
display: flex;
justify-content: center;
gap: 24px;
margin-top: 16px;
max-width: 1002px;
width: 100%;
}

.select-box {
width: 100px;
height: 30px;
}

.correct-button{
border: solid 2px blue;
}

.incorrect-button{
border: solid 2px blue;
}

.yes,.no{
color: #e34e70;
font-size: 24px;
line-height: 150%;
letter-spacing: 0.05em;
padding-top: 24px;
margin-left: 40px;
}

.A{
display: inline-block;
font-size: 24px;
font-weight: 700;
line-height: 180%;
margin-top: 16px;
margin-right: 16px;
margin-left: 40px;
}

h3{
font-weight: 700;
}

.no{
color: #0071bc;
}

.pointer-none{
pointer-events: none;
}

.cite{
margin-bottom: 10px;
background-color: gray;
width: 600px;
}

.btn{
background-color: #ffffff;
border:5px solid #eeeeee;
border-radius: 8px;
max-width: 290px;
width:100%;
height: 80px;
line-height: 80px;
padding-left: 12px;
cursor: pointer;
cursor: hand;
}

.arrow{
background-image: url(./assets-ph1-website-main\ 2/img/icon/icon-arrow.svg);
background-repeat: no-repeat;
background-position: 90% center;

}

.answer-box{
background-color: #fff2f5;
display: none;
height: 143px;
margin-top: 16px;
border-radius: 8px;
}

.x-answer-box{
background-color: #eff2f5;
display: none;
height: 143px;
margin-top: 16px;
border-radius: 8px;

}

.show{
display: block;
}

/* footer */
/* .p-line {
    margin-top: 144px;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}
.l-container{
    padding: 24px;
    margin: 0 auto;
    max-width: 1032px;
    width: 100px;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    display: block;
    font-family: "Noto Sans JP", sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.15;
}
.p-line__body {
    border-radius: 56px;
    padding: 68px;
    background-color: rgba(0, 113, 188, 0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}
.p-heading {
    font-size: 36px; */
    letter-spacing: 0.05em;
    line-height: 1.5;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.8;
    text-align: center;
}

.p-line__title {
    gap: 8px;
        align-items: center;
        display: flex;
        gap: 4px;
        justify-content: center;
}


element.style {
}
.p-line__title .u-icon__line {
    font-size: 40px;
}
i, .icomoon-liga {
    speak: never;
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "posse-icon" !important;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: discretionary-ligatures;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1;
    text-transform: none;
}
*, ::before, ::after {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}
user agent stylesheet
i {
    font-style: italic;
}
.p-heading.-light {
    color: #fff;
}
@media screen and (min-width: 768px)
.p-heading {
    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 1.5;
}
.p-heading {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.8;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}
user agent stylesheet
h2 {
    font-size: 1.5em;
    font-weight: bold;
}
body {
    font-family: "Noto Sans JP", sans-serif;
}
html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.15;
}
.u-icon__line {
    background: radial-gradient(#fff 60%, transparent 60%);
    color: #00c300;
    content: "\e900";
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
}

.p-line__content {
    line-height: 1.8;
    margin-top: 16px;
    text-align: center;
    color: #eee;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.p-line__button {
    background-color: #fff;
    border-radius: 50px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.8;
    max-width: 320px;
    padding: 12px;
    position: relative;
    width: 100%;
}

.p-line__footer {
    margin-top: 16px;
    text-align: center;
}

.p-line__button .u-icon__link {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}


/* footer2 */
.footer2{
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
}

.footer2 a{
text-decoration: none;
color: #666666;
}

.footer2 a img{
width: 16px;
height: 16px;
margin-top: 4px;
}

.footer2logo{
width: 202px;
height: 39px;
margin-top: 50px;
}

.footer2-moji{
display: flex;
justify-content: center;
gap: 7px;
margin-top: 24px;
}

.footer2icon{
display: flex;
justify-content: center;
margin-bottom: 50px;
}

.f2-sns a{
width: 50px;
height: 50px;
border: 3px #eee solid;
border-radius: 50%;

}

/* footer3 */
.copyright{
text-align: center;
height: 80px;
line-height: 80px;
}
