/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color:white;
    padding: 20px;
}

.header-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    text-decoration: none;
}

.header-logo{
    margin-left: 20px;
}

.rightheader-word{
    margin-right: 20px;
    text-decoration: none;
    color: gray;
}

.rightheader-icon{
margin-right: 20px;
margin-bottom: 5px;
}
.top-page-url{
color: gray;
text-decoration: none;
}

.quiz-page-url{
color: gray;
text-decoration: none;
}

body{
font-family: "Noto Sans JP", sans-serif;
}


/* hero */

.heropage{
margin-bottom: 50px;
}

/* .hero-pic{

} */

.hero{
position:absolute;
top: 190px;
left: 500px;

}

.hero1{
color: white;
font-size: 20px;
}

.hero2{
color: white;
font-size: 50px;

}

/* quiz */
.p-quiz-box{
max-width: 1032px;
width: 100%;
margin: 120px auto 0;
}

.q-container{
    padding: 24px;
}

.quizpage{
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
}

.questions{
/* display: flex; */
flex-direction: column;
justify-content: center;
}

.q-number{
background-color: #0071bc;
border-radius: 5px;
font-size: 30px;
color: white;
padding: 10px;
/* margin: 10px; */
width: 40px;
}
.q-passage{
font-size: 36px;
font-weight: bold;
display: block;
margin-top: 24px;
line-height: 1.5;
}

.answer{
display: inline-block;
padding: 8px 16px;
background: #e34e70;
border-radius: 8px;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 150%;
color: #ffffff;
}

.q-pic{
max-width:718px;
width: 100%;
height: 357px;
display: block;
margin:64px auto 0 ;
}

.p-quiz-box-answer{
text-align: left;
padding: 24px;
}

.buttons{
display: flex;
justify-content: center;
gap: 24px;
margin-top: 16px;
max-width: 1002px;
width: 100%;
}

.select-box {
width: 100px;
height: 30px;
}

.correct-button{
border: solid 2px blue;
}

.incorrect-button{
border: solid 2px blue;
}

.yes,.no{
color: #e34e70;
font-size: 24px;
line-height: 150%;
letter-spacing: 0.05em;
padding-top: 24px;
margin-left: 40px;
}

.A{
display: inline-block;
font-size: 24px;
font-weight: 700;
line-height: 180%;
margin-top: 16px;
margin-right: 16px;
margin-left: 40px;
}

h3{
font-weight: 700;
}

.no{
color: #0071bc;
}

.pointer-none{
pointer-events: none;
}

.cite{
margin-bottom: 10px;
background-color: gray;
width: 600px;
}

.btn{
background-color: #ffffff;
border:5px solid #eeeeee;
border-radius: 8px;
max-width: 290px;
width:100%;
height: 80px;
line-height: 80px;
padding-left: 12px;
cursor: pointer;
cursor: hand;
}

.arrow{
background-image: url(./assets-ph1-website-main\ 2/img/icon/icon-arrow.svg);
background-repeat: no-repeat;
background-position: 90% center;

}

.answer-box{
background-color: #fff2f5;
display: none;
height: 143px;
margin-top: 16px;
border-radius: 8px;
}

.x-answer-box{
background-color: #eff2f5;
display: none;
height: 143px;
margin-top: 16px;
border-radius: 8px;

}

.show{
display: block;
}

/* footer */
.p-line{
margin-top: 130px;
}
.l-container{
width: 984px;
height: 357px;
/* background-color: #0071bc; */
border-radius: 48px;
color: #ffffff;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-image: url(./assets-ph1-website-main\ 2/img/bg-line.jpg) ;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.l-container::after{
content: '';
background-color: #0071bc;
opacity: 0.9;

}

.p-line-body-inner{
display: flex;
align-items: center;
gap: 10px;
}
.p-line-title{
font-size: 36px;
font-weight: 700;
}
.footer-line-icon{
width: 40px;
border-radius: 11px;
}
.p-line-content p{
text-align: center;
}
.p-line-content{
margin-top: 18px;
}
.p-line-footer{
background-color: #ffffff;
width: 320px;
margin-top: 24px;
text-align: center;
padding: 12px;
border-radius: 50px;
text-decoration: none;
color: #333;
font-weight: bold;
position: relative;
}
.p-line-footer img{
width: 12px;
height: 12px;
position: absolute;
top: 17px;
right: 15px;
}


/* footer2 */
.footer2{
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
}

.footer2 a{
text-decoration: none;
color: #666666;
}

.footer2 a img{
width: 16px;
height: 16px;
margin-top: 4px;
}

.footer2logo{
width: 202px;
height: 39px;
margin-top: 50px;
}

.footer2-moji{
display: flex;
justify-content: center;
gap: 7px;
margin-top: 24px;
}

.footer2icon{
display: flex;
justify-content: center;
margin-bottom: 50px;
}

.f2-sns a{
width: 50px;
height: 50px;
border: 3px #eee solid;
border-radius: 50%;

}

/* copyright */
.copyright{
text-align: center;
height: 80px;
line-height: 80px;
}
